# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/

# Virtual env
venv/
ENV/
.venv/

# IDE/OS
.idea/
.vscode/
*.swp
.DS_Store

# Logs & temp
*.log
logging/
*.tmp
*.bak

# Secrets
.env
*.local.py
.zshistory
.bash_history

# Test files
1.py
1.sh
111/
test_*.py

# Accidental imports
pyperclip
time
subprocess
shlex
